<header class="header">
  <nav class="header-nav">
<%= link_to 'People', '/people', class: "nav-link" %>
<%= link_to 'Trips', '/trips', class: "nav-link"  %>
<%= link_to 'QuickSplit', '/quickSplit', class: "nav-link"  %>
  </nav>
</header>